* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========== Common Css ========== */
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #dafdff;
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 90vw;
    margin: 100px auto;
}

/* =========== Title ============== */
.title {
    text-align: center;
    margin-bottom: 105px;
}
.title h2 {
    position: relative;
    text-transform: capitalize;
    font-size: 50px;
    color: #b60767;
    letter-spacing: 1px;
    font-weight: bold;
}
.title h2:before {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #e20c82;
    width: 70px;
    height: 4px;
}

/* =========== Sidebar =========== */
.content-wrapper {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 80px;
}
.btn-container {
    display: flex;
    flex-direction: column;
}
.btn {
    border: none;
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
    color: #000000;
    margin: 0 10px;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 7px 0;
    transition: all 0.3s;
}
.btn:hover,
.btn.active {
    color: #e20c82;
    margin-left: 8px;
    font-weight: 600;
    border-left: 2px solid #e20c82;
    cursor: pointer;
    background-color: #f7f7f7;
}

/* ========== Contentside ============ */
.info-container h3 {
    font-size: 35px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #333;
    font-weight: 400;
}
.info-container h4 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #7f8181;
    font-weight: 700;
    background: #ffedd2;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 10px;
}
.info-container p {
    font-size: 22px;
    color: #676868;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.job-des {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
    margin-bottom: 25px;
    align-items: center;
}
.job-des .icn {
    color: #b60767;
    font-size: 20px;
}
.job-des p {
    margin-bottom: 0;
    text-align: justify;
    color: #565858;
}

/* ============ Responsive ============= */
@media (max-width: 991px) {
    .content-wrapper {
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr;
    }
    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 80px;
    }
    .btn {
        margin: 0 10px;
    }
    .btn:hover,
    .btn.active {
        margin-left: 0;
        border-left: 0;
        border-bottom: 2px solid #e20c82;
        background-color: transparent;
    }
}

@media (max-width: 390px) {
    .btn-container {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 80px;
    }
    .btn:hover,
    .btn.active {
        margin-left: 0;
        border-left: 2px solid #e20c82;
        border-bottom: 0;
        background-color: transparent;
        background-color: #d3d3d3;
    }
}
